body {
    font-family: 'Nunito Sans', sans-serif;
  }
  
  .container {
    border: 2px solid #a2a2a6;
  }

.color-container {
    width: 100%;
    display: flex;
  }
  
.color-panel {
   width: 20%;
   text-align: center;
   font-weight: bold;
}

.color-label, .color-rgb {
    padding: 10px 0px;
    color: #fff;
}

.blue .color-label, .blue .color-rgb {
    background-color: #03658C;
}

.yellow .color-label, .yellow .color-rgb {
    background-color: #F2B705;
}

.lightOrange .color-label, .lightOrange .color-rgb {
    background-color: #F29F05;
}

.darkOrange .color-label, .darkOrange .color-rgb {
    background-color: #F28705;
}

.red .color-label, .red .color-rgb {
    background-color: #A62014;
}

img {
    width: 100%;
}